#root {
    min-height: 100vh;
    background-color: white;
}

.note {
    max-height: 41vh;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 0.5px solid rgb(180, 167, 167);
    box-shadow: 0 0 0 1px rgba(255, 213, 213, 0.5);
    border-radius: 5em;
}

.note p {
    margin: 0;
}

.text-area[contenteditable]:empty::after {
    content: "Create note";
    color: gray;
}

.text-area[contenteditable]:focus,
input:focus {
    outline: none !important;
}

.form-control:focus {
    box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
